USE [master]
GO
/****** Object:  Database [EventDB]    Script Date: 14.02.2013 17:52:49 ******/
CREATE DATABASE [EventDB]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'EventDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\EventDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EventDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\EventDB_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventDB]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 14.02.2013 17:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Info] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Event_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParticipantCompany]    Script Date: 14.02.2013 17:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantCompany](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RegistryNumber] [nvarchar](50) NOT NULL,
	[CashPayment] [bit] NOT NULL,
	[Participants] [int] NOT NULL,
	[Info] [nvarchar](max) NULL,
	[EventID] [int] NOT NULL,
 CONSTRAINT [PK_ParticipantCompany_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParticipantPerson]    Script Date: 14.02.2013 17:52:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantPerson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nchar](25) NOT NULL,
	[Lastname] [nchar](35) NOT NULL,
	[IDcode] [nchar](15) NOT NULL,
	[CashPayment] [bit] NOT NULL,
	[Info] [nvarchar](1000) NULL,
	[EventID] [int] NOT NULL,
 CONSTRAINT [PK_ParticipantPerson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ParticipantCompany]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantCompany_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParticipantCompany] CHECK CONSTRAINT [FK_ParticipantCompany_Event]
GO
ALTER TABLE [dbo].[ParticipantPerson]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantPerson_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParticipantPerson] CHECK CONSTRAINT [FK_ParticipantPerson_Event]
GO
USE [master]
GO
