<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProoviYlesanneClassLibrary.Properties.Settings.EventDB"
            connectionString="Data Source=MARTIN-PC\SQLEXPRESS;Initial Catalog=EventDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>